<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.mtr.mtrmobile" />
        <package android:name="com.octopuscards.nfc_reader" />
        <package android:name="com.android.chrome" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealTimeTrainStatus">

        <receiver
            android:name=".OctopusWidget"
            android:exported="true"
            android:label="八達通卡餘額確認">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_octopus_info" />
        </receiver>

        <receiver
            android:name=".SavedRouteWidget"
            android:exported="true"
            android:label="常用查看路綫">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_saved_route_info" />
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".TrainLocationActivity"
            android:exported="true" />
        <activity
            android:name=".TrafficNewsActivity"
            android:exported="true" />
        <activity
            android:name=".HistoryDeleteActivity"
            android:exported="true" />
        <activity
            android:name=".MapsActivity"
            android:exported="true" />
    </application>

</manifest>